.title {
	width: 44px;
	height: 50px;
}

#board{
	width: 782px;
	height: 872px;
	border: solid red 1px;
	background: url(../images/board.png);
	background-size: 100%;
	position: relative;
	left: 50%;
	margin-left: -391px;
}

#e {
	position: absolute;
	left: 275px;
	top: 199px;
}

#g{
	position: absolute;
	left: 275px;
	top: 93px;
}

#r{
	position: absolute;
	left: 712px;
	top: 93px;
}

#u{
	position: absolute;
	left: 712px;
	top: 146px;
}

#h{
	position: absolute;
	left: 242px;
	top: 464px;
}

#o{
	position: absolute;
	left: 242px;
	top: 517px;
}

#l{
	position: absolute;
	left: 242px;
	top: 570px;
}